.today {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(880) {
        flex-direction: column;
        row-gap: 30px;
    }

    &-left {
        background: #4f4f4f;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        border-radius: 20px;
        padding: 20px;
        max-width: 400px;
        width: 100%;
        position: relative;

        @include media(1270) {
            max-width: 350px;
        }

        @include media(1150) {
            max-width: 300px;
        }

        @include media(880) {
            max-width: 450px;
        }

        &__dagree {
            font-weight: 500;
            font-size: 96px;
            line-height: 1.21;
            color: #308d5e;

            @include media(880) {
                font-size: 76px;
            }
        }

        &__day {
            font-weight: 400;
            font-size: 40px;
            line-height: 1.22;
            color: #ffffff;
            margin-bottom: 31px;

            @include media(880) {
                font-size: 25px;
            }
        }

        &__time {
            margin-bottom: 14px;
        }

        &__time,
        &__city {
            font-weight: 400;
            font-size: 25px;
            line-height: 1.2;
            color: #939cb0;
            @include media(880) {
                font-size: 20px;
            }
        }

        &__img {
            position: absolute;
            top: 40px;
            right: 20px;
            width: 120px;
            height: 120px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-right {
        background: #4f4f4f;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        padding: 42px 0 42px 32px;
        max-width: 750px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        @include media(1270) {
            max-width: 700px;
        }

        @include media(1150) {
            max-width: 650px;
        }

        @include media(1030) {
            max-width: 550px;
        }

        @include media(880) {
            max-width: 450px;
        }

        @include media(470) {
            padding: 20px;
        }

        &__bg {
            position: absolute;
            z-index: -1;
            right: 0;
            top: 0;

            @include media(1030) {
                mix-blend-mode: overlay;
            }

            @include media(470) {
                display: none;
            }
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 20px;

        @include media(470) {
            flex-direction: column;
            justify-content: center;
            row-gap: 20px;
        }

        & img {
            width: 40px;
            height: 40px;
            background: #ffff;
            border-radius: 50%;
        }

        &__name {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.21;
            color: #939cb0;
            width: 100px;
        }

        &__temp {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.21;
            color: #ffffff;
        }
    }
}
